{% extends "jobs/base.html" %}

{% block content %}

{% include "jobs/header.html" %}

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Hi, I am Jay</h1>
      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
      <p>
        <a href="#" class="btn btn-primary my-2">Email</a>
        <!-- you can add mailto:<email> to have it auto open an email client.
        But becareful that webscrapers do not get this and bombard you. -->
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
      {% for job  in jobs.all  %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
              <img class="img-thumbnail" src= "{{job.image.url}}"  atl="Job Image" width="100%" height="35%"/>
            <div class="card-body">
              <p class="card-text">{{job.title}}</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
        
      </div>
    </div>
  </div>

</main>

{% endblock content %}